<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="bq Team RuleSet Standart" Description="linter for C# projects" ToolsVersion="17.0">
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="CS0108" Action="Error" />
    <Rule Id="CS1591" Action="Info" />
    <Rule Id="CS8019" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE0059" Action="Warning" />
    <Rule Id="IDE0060" Action="Error" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.NetAnalyzers" RuleNamespace="Microsoft.CodeAnalysis.CSharp.NetAnalyzers">
    <Rule Id="CA1825" Action="Error" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.Features" RuleNamespace="Microsoft.CodeAnalysis.Features">
    <Rule Id="IDE0055" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="SonarAnalyzer.CSharp" RuleNamespace="SonarAnalyzer.CSharp">
    <Rule Id="S100" Action="Info" />
    <Rule Id="S101" Action="Info" />
    <Rule Id="S125" Action="Info" />
    <Rule Id="S1450" Action="None" />
    <Rule Id="S1481" Action="Error" />
    <Rule Id="S1939" Action="None" />
    <Rule Id="S2344" Action="None" />
    <Rule Id="S2360" Action="Hidden" />
    <Rule Id="S3400" Action="None" />
    <Rule Id="S3925" Action="None" />
    <Rule Id="S3971" Action="Info" />
    <Rule Id="S4261" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1000" Action="Info" />
    <Rule Id="SA1005" Action="Info" />
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1118" Action="Info" />
    <Rule Id="SA1122" Action="Error" />
    <Rule Id="SA1200" Action="None" />
    <Rule Id="SA1208" Action="Info" />
    <Rule Id="SA1210" Action="None" />
    <Rule Id="SA1300" Action="None" />
    <Rule Id="SA1306" Action="Error" />
    <Rule Id="SA1309" Action="None" />
    <Rule Id="SA1310" Action="None" />
    <Rule Id="SA1401" Action="None" />
    <Rule Id="SA1515" Action="Info" />
    <Rule Id="SA1600" Action="None" />
    <Rule Id="SA1602" Action="None" />
    <Rule Id="SA1611" Action="None" />
    <Rule Id="SA1612" Action="None" />
    <Rule Id="SA1613" Action="None" />
    <Rule Id="SA1614" Action="None" />
    <Rule Id="SA1615" Action="None" />
    <Rule Id="SA1616" Action="None" />
    <Rule Id="SA1618" Action="None" />
    <Rule Id="SA1619" Action="None" />
    <Rule Id="SA1620" Action="None" />
    <Rule Id="SA1621" Action="None" />
    <Rule Id="SA1622" Action="None" />
    <Rule Id="SA1623" Action="None" />
    <Rule Id="SA1629" Action="Info" />
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SA1649" Action="Error" />
    <Rule Id="SA1652" Action="None" />
    <Rule Id="SX1309" Action="Warning" />
    <Rule Id="SX1309S" Action="Warning" />
  </Rules>
</RuleSet>