@page
@model ProjectName.Web.Pages.Index

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>ProjectName</title>
</head>
<body>
    <div>
        ProjectName web
        <br><a href='version'>/version</a>
        <br><a href='swagger'>/swagger</a>
        <br><a href='health'>/health</a>
        <br><a href='ready'>/ready</a>
        <br><a href='starts'>/starts</a>
    </div>
</body>
</html>